#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.bi-arrow-left-circle {
  color: #ffffff;
}

.card-margin-top-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


import 'bootstrap/dist/css/bootstrap.min.css';