#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.apprentice-card {
  border: solid black 1px;
  margin: 20px;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.list-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.circle {
  
  border-radius: 50%;
}